.container{
    width: 20vh;
    height: 20vh;
    background:linear-gradient(45deg,blue,red,yellow);
    border-radius: 50%;
    
}

.container:hover{
    cursor: pointer;
    background:linear-gradient(45deg,green,yellow,purple);
    /* width: 50vh; 
    height: 30vh; */
    transition: 2s ease;
}